.tile {
    margin: 10px;
    height: 150px;
    min-width: 100px;
    width: 10%;
    background-color: grey;
    border: 6px solid gray;
    border-radius: 25px;
    display: inline-block;
    transition: background-color 0.5s;
}
