<% include ./partials/header %>

<h1>This is the home page</h1>
<img src="http://www.pomsky.org/wp-content/uploads/2013/03/532973708ce311e29a4b22000a1fb593_7.jpg" alt="Pomsky">

<% include ./partials/footer %>