*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #2BC0E4;  /* fallback for old browsers */
    background-image: -webkit-linear-gradient(to right, #2BC0E4, #EAECC6);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, #2BC0E4, #EAECC6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    width: 360px;
    margin: 100px auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed {
    color: gray;
    text-decoration: line-through;
}

h1 {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}

input {
    background-color: #f7f7f7;
    border: 3px solid #f7f7f7;
    width: 100%;
    height: 48px;
    font-size: 16px;
    padding: 13px 13px 13px 20px;
    color: #2980b9;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
    overflow: visible;
}

input:focus {
    background-color: #ffffff;
    outline: none;
    border: 3px solid #2980b9;
}

li {
    background-color: #ffffff;
    height: 40px;
    line-height: 40px;
    color: #666666;
}

li:nth-of-type(even) {
    background-color: #f7f7f7;
}

ul {
    list-style: none;
}

.fa-plus {
    float: right;
}

.delete {
    background-color: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    opacity: 0;
    transition: all .3s linear;
}

li:hover .delete {
    width: 40px;
    opacity: 1;
}